.btn {
  @include pxRem(padding, 10px 14px);
  @include pxRem(font-size, 14px);
  @include border-radius(100px);
  display: inline-block;
  font-weight: 500;
  cursor: pointer;
  &-secondary {
    color: map-get($color, white);
    background-color: map-get($color, text);
  }

  &-primary {
    color: map-get($color, white);
    background-color: map-get($color, primary);
  }

  &-auth {
    @include border-radius(5px);
    max-width: 400px;
    width: 100%;
    font-size: map-get($font-size, normal);
    font-weight: 600;
    font-family: $font-primary;
  }
}
