.comment {
  &-article {
    @include flexbox;
    @include pxRem(margin-bottom, 5);
  }
  &-list {
    @include pxRem(padding-top, 20);
  }
  &-item {
    @include pxRem(padding, 20 0);
    @include pxRem(font-size, 18);
    border-bottom: 1px solid map-get($color, gray-5);
  }
  &-header {
    @include pxRem(margin-bottom, 8);
  }
  &-user {
    @include flexbox;
    align-items: center;
    color: map-get($color, text);
  }
  &-desc {
    @include pxRem(margin-bottom, 12);
    color: map-get($color, gray-3);
    font-weight: 400;
    letter-spacing: 0;
  }
  &-footer {
    @include flexbox;
    @include pxRem(font-size, 14);
    align-items: center;
    &-item {
      @include flexbox;
      align-items: center;
      @include pxRem(margin-right, 8);
      i {
        @include pxRem(font-size, 16);
        @include pxRem(margin-right, 8);
        color: map-get($color, primary);
      }
    }
  }
  &-reply {
    @include pxRem(margin-left, 8);
    font-weight: 600;
  }

  &-empty {
    text-align: center;
    font-size: map-get($font-size, lg);
    font-style: italic;
    @include pxRem(margin-top, 12);
  }
}

.user {
  &-avatar {
    position: relative;
    width: 36px;
    height: 36px;
    margin-right: 12px;
    img {
      @include border-radius(100%);
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  &-active {
    @include border-radius(100%);
    position: absolute;
    bottom: 2px;
    right: 0;
    width: 12px;
    height: 12px;
    border: 2px solid map-get($color, white);
    background: map-get($color, green-1);
  }
  &-name {
    font-weight: 600;
  }
  &-created {
    @include pxRem(font-size, 16);
    @include pxRem(margin-left, 6);
  }
}

.form-comment {
  @include flexbox;
  @include flex-direction(column);
  align-items: flex-end;
  width: 100%;
}
