.loading-container {
  @extend %flex-centered;
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: map-get($color, white);
  .spinner {
    @extend %flex-centered;
    @include border-radius(50%);
    height: 14rem;
    width: 14rem;
    border: 20px solid map-get($color, primary);
    border-left: 20px solid map-get($color, gray);
    animation: spin infinite 1.5s linear;
    &-text {
      position: absolute;
      @include pxRem(font-size, 14);
      color: map-get($color, text);
      font-weight: 600;
      letter-spacing: 1.5px;
      text-transform: uppercase;
    }
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
