.modal {
  @include flexbox;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.9);
  &-inner {
    @include pxRem(max-width, 564);
    width: 100%;
    @include pxRem(padding, 40 28);
    @include border-radius(4px);
    @include box-shadow(rgba(99, 99, 99, 0.2) 0px 2px 8px 0px);
    position: relative;
    background-color: map-get($color, white);
    animation: float-in-right 0.3s ease-in-out;
  }
  &-close {
    position: absolute;
    right: 30px;
    top: 40px;
    background-color: map-get($color, white);
    cursor: pointer;
    i {
      color: map-get($color, gray-7);
      @include pxRem(font-size, 20);
    }
  }
  &-title {
    @include pxRem(font-size, 20);
    @include pxRem(margin-bottom, 16);
  }
  &-text {
    @include pxRem(font-size, normal);
    color: #485963;
  }
  &-delete {
    @include pxRem(max-width, 340);
    text-align: center;
  }
  &-btn {
    &-group {
      @include flexbox;
      justify-content: flex-end;
      @include pxRem(margin-top, 18);
    }
  }
}

@keyframes float-in-right {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
