.post {
  @include border-radius(4px);
  @include pxRem(padding, 24 20);
  @include transition(0.25s ease-in-out);
  &:hover {
    @include box-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));
    @include border-radius(7px);
    background-color: map-get($color, white);
  }
  &-item {
    margin-bottom: 20px;
  }
  &-header {
    @include flexbox;
    @include pxRem(margin-bottom, 14);
    align-items: center;
    justify-content: space-between;
  }
  &-image {
    &-link {
      display: block;
      width: 200px;
      height: 125px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  &-body {
    @include flexbox;
    justify-content: space-between;
  }
  &-content {
    max-width: 450px;
    width: 100%;
  }
  &-title {
    @include ellipsis-special(2);
    @include transition(0.2s linear);
    @include pxRem(line-height, 19);
    min-height: 53px;
    letter-spacing: 0;
    margin-bottom: 16px;
    &:hover {
      @include opacity(0.7);
    }
    &-link {
      @include pxRem(font-size, 22);
      @include pxRem(line-height, 26);
      color: map-get($color, text);
      font-weight: 600;
    }
  }
  &-meta {
    @include flexbox;
    align-items: center;
    &-info {
      @include flexbox;
      align-items: center;
      margin-right: 12px;
      font-size: map-get($font-size, sm);
      color: map-get($color, gray);
      i {
        margin-right: 4px;
        color: map-get($color, primary);
        font-size: map-get($font-size, normal);
      }
    }
  }
  &-date {
    margin-right: 20px;
    font-weight: 400;
    color: map-get($color, gray-2);
    @include pxRem(font-size, 14);
  }
  &-desc {
    @include ellipsis-special(3);
    @include pxRem(margin, 16 0);
    min-height: 60px;
    font-weight: 400;
    line-height: 20px;
    color: map-get($color, gray-3);
  }
  &-footer {
    @include flexbox;
    justify-content: space-between;
    align-items: center;
  }
  &-tags {
    @include flexbox;
    @include flex-wrap(wrap);
    align-items: center;
    justify-content: flex-end;
    gap: 8px; 
    max-width: 300px;
    width: 100%; 
  }
  &-user {
    @include flexbox;
    align-items: center;
    &-info {
      @include flexbox;
      @include pxRem(font-size, 14);
      margin-right: 24px;
      color: map-get($color, text);
    }
    &-image {
      width: 24px;
      height: 24px;
      margin-right: 12px;
      img {
        @include border-radius(50%);
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &-name {
      font-weight: 400;
    }
  }
  &-control {
    position: relative;
    cursor: pointer;
    &-list {
      @include border-radius(4px);
      @include box-shadow(rgba(99, 99, 99, 0.2) 0px 2px 8px 0px);
      @include transition(0.15s linear);
      opacity: 0;
      visibility: hidden;
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 100%;
      right: 0;
      background-color: map-get($color, white);
    }
    &-item {
      @include flexbox;
      @include pxRem(padding, 4 12);
      @include pxRem(font-size, 14);
      align-items: center;
      color: map-get($color, text);
      font-weight: 400;
      border-bottom: 1px solid map-get($color, gray-6);
      &:hover {
        color: map-get($color, primary);
      }
      i {
        @include pxRem(font-size, 14);
        @include pxRem(margin-right, 4);
        @include pxRem(margin-bottom, 2);
      }
    }
    &-link {
      @include pxRem(font-size, 14);
      color: map-get($color, text);
      font-weight: 400;
    }
    &:hover {
      .post-control-list {
        opacity: 1;
        visibility: visible;
      }
    }
  }
  &-footer {
    @include flexbox;
    justify-content: space-between;
  }
}
