.sekeleton {
  animation: skeleton-loading 1s linear infinite alternate;
  &-user {
    width: 30%;
    @include pxRem(padding, 10px);
    @include pxRem(margin-bottom, 20px);
    @include pxRem(border-radius, 5px);
  }
  &-title {
    @include pxRem(width, 280px);
    @include pxRem(padding, 10px);
    @include pxRem(margin-bottom, 30px);
    @include pxRem(border-radius, 5px);
  }
  &-desc {
    @include pxRem(padding, 20px);
    @include pxRem(margin-bottom, 10px);
    @include pxRem(border-radius, 5px);
  }
  &-footer {
    width: 30%;
    @include pxRem(padding, 10px);
    @include pxRem(border-radius, 5px);
  }
  &-image {
    @include pxRem(width, 200px);
    @include pxRem(height, 125px);
    @include pxRem(border-radius, 5px);
  }
  &-recommend {
    &-title {
      @include pxRem(width, 110px);
      @include pxRem(padding, 10px);
      @include pxRem(margin-bottom, 20px);
      @include pxRem(border-radius, 5px);
    }
    &-date {
      @include pxRem(width, 110px);
      @include pxRem(padding, 10px);
      @include pxRem(border-radius, 5px);
    }
    &-image {
      width: 100%;
      height: 100%;
      @include pxRem(border-radius, 5px);
    }
  }
  &-detail {
    &-image {
      @include pxRem(width, 60);
      @include pxRem(height, 60);
      border-radius: 100%;
    }
    &-name {
      @include pxRem(width, 130);
      @include pxRem(padding, 10px);
      @include pxRem(margin-bottom, 20px);
      @include pxRem(border-radius, 5px);
    }
    &-time {
      @include pxRem(width, 150);
      @include pxRem(padding, 10px);
      @include pxRem(margin-bottom, 20px);
      @include pxRem(border-radius, 5px);
    }
    &-title {
      width: 100%;
      @include pxRem(padding, 30px);
      @include pxRem(margin-bottom, 20px);
      @include pxRem(border-radius, 5px);
    }
    &-content-image {
      width: 100%;
      @include pxRem(height, 300);
      @include pxRem(margin-bottom, 20px);
      @include pxRem(border-radius, 5px);
    }
    &-text {
      width: 100%;
      @include pxRem(height, 20);
      @include pxRem(margin-bottom, 20px);
      @include pxRem(border-radius, 5px);
    }
  }
  &-comment {
    width: 100%;
    @include pxRem(padding, 30px);
    @include pxRem(margin-bottom, 20px);
    @include pxRem(border-radius, 5px);
  }
  &-author {
    &-avatar {
      @include pxRem(width, 100);
      @include pxRem(height, 100);
      border-radius: 100%;
    }
    &-name {
      @include pxRem(width, 200px);
      @include pxRem(padding, 10px);
      @include pxRem(margin-bottom, 20px);
      @include pxRem(border-radius, 5px);
    }
    &-list {
      @include pxRem(width, 300px);
      @include pxRem(padding, 30px);
      @include pxRem(margin-bottom, 20px);
      @include pxRem(border-radius, 5px);
    }
    &-sidebar {
      &-avatar {
        @include pxRem(width, 80);
        @include pxRem(height, 80);
        @include pxRem(margin-bottom, 10px);
        border-radius: 100%;
      }
      &-name, &-follower {
        @include pxRem(width, 200px);
        @include pxRem(padding, 10px);
        @include pxRem(margin-bottom, 10px);
        @include pxRem(border-radius, 5px);
      }
      &-btn {
        @include pxRem(width, 100px);
        @include pxRem(padding, 20px);
        @include pxRem(border-radius, 5px);
      }
    }
  }
  &-tag {
    @include pxRem(width, 350px);
    @include pxRem(margin-left, 10px);
    @include pxRem(padding, 20px);
    @include pxRem(border-radius, 5px);
  }
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 80%);
  }
  100% {
    background-color: hsl(200, 20%, 95%);
  }
}
