.tag {
  @include box-shadow(rgba(0, 0, 0, 0.16) 0px 1px 4px);
  @include border-radius(4px);
  margin-right: 12px;
  padding: 0 8px;
  background-color: map-get($color, white);
  &-link {
    font-size: map-get($font-size, sm);
    color: map-get($color, gray);
  }
}
