.sidebar {
  margin-left: 30px;
  &-title {
    position: relative;
    display: flex;
    align-items: center;
    font-size: map-get($font-size, xxl);
    margin-bottom: 30px;
  }

  &-border {
    background-color: map-get($color, primary);
    flex: 1;
    height: 2px;
    margin-left: 10px;
  }
}

.section {
  &-recent-post {
    margin-bottom: 50px;
  }

  &-tag {
    margin-bottom: 50px;
    .tag {
      margin-bottom: 12px;
      &-list {
        @include flexbox;
        @include flex-wrap(wrap);
      }
    }
  }

  &-social {
    .social {
      &-list {
        @include flexbox;
      }

      &-item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80px;
        height: 80px;
        background-color: map-get($color, primary);
        margin-right: 10px;

        &:last-child {
          margin-right: 0;
        }
      }

      &-link {
        font-size: map-get($font-size, xxxl);
        color: map-get($color, white);
      }
    }
  }
}
