.articles-page {
  @include pxRem(padding, 40 0);
  .articles {
    &-item {
      @include pxRem(padding-bottom, 16);
    }
  }
  .article {
    &-header {
      @include flexbox;
      @include pxRem(margin-bottom, 24);
      align-items: center;
      justify-content: space-between;
      &-left {
        @include flexbox;
        align-items: center;
      }
    }

    &-title {
      @include pxRem(font-size, 28);
      @include pxRem(margin-bottom, 16);
      line-height: 40px;
      overflow-wrap: break-word;
      font-weight: 600;
    }

    &-recommend {
      @include pxRem(margin-top, 40);
      border-top: 1px solid map-get($color, gray-5);
    }

    &-text {
      letter-spacing: 0;
      font-size: 18px;
      font-weight: 400;
      overflow: hidden;
      p {
        @include pxRem(margin, 10 0);
        overflow-wrap: break-word;
      }
    }
    &-image {
      width: 100%;
      height: 500px;
      object-fit: cover;
      @include pxRem(margin-bottom, 30);
    }
    &-item {
      @include flexbox;
      justify-content: space-between;
      @include pxRem(margin, 20 0);
      &-title {
        @include pxRem(font-size, 16);
        @include ellipsis-special(1);
        color: map-get($color, text);
        font-weight: 500;
      }
      &-image {
        flex-shrink: 0;
        width: 125px;
        height: 75px;
        margin-left: 16px;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      span {
        @include pxRem(font-size, 14);
      }
    }

    &-sidebar {
      position: sticky;
      top: 100px;
      @include pxRem(margin-left, 30);
    }

    &-interact {
      @include flexbox;
      @include pxRem(margin, 16 0);
      font-size: map-get($font-size, xl);
    }
    &-description {
      @include pxRem(margin, 16 0);
      font-size: map-get($font-size, normal);
      font-weight: 400;
      font-style: italic;
    }
  }

  .interact {
    &-like {
      @include pxRem(margin-right, 12);
      font-weight: 600;
      .fa {
        &-thumbs-up {
          color: map-get($color, primary);
          @include pxRem(margin-right, 8);
          cursor: pointer;
        }
        &-liked {
          color: map-get($color, primary);
          @include pxRem(margin-right, 8);
        }
      }
    }

    &-comment {
      font-weight: 600;
      .fa {
        &-comment {
          color: map-get($color, primary);
          @include pxRem(margin-right, 8);
        }
      }
    }
  }

  .author {
    &-image {
      @include pxRem(margin-right, 12);
      a {
        @include flexbox;
      }
      img {
        @include border-radius(100%);
        @include pxRem(width, 60);
        @include pxRem(height, 60);
        object-fit: cover;
      }
    }

    &-name {
      a {
        color: map-get($color, text);
        font-weight: 500;
      }
    }

    &-time {
      @include pxRem(font-size, 14);
      color: map-get($color, gray-4);

      .readingTime {
        @include pxRem(margin-left, 6);
      }
    }
    &-date {
      @include pxRem(margin-right, 6);
    }

    &-info {
      @include flexbox;
      @include flex-direction(column);
      @include pxRem(line-height, 20);
      align-items: center;
      color: map-get($color, text);
    }

    &-follower {
      @include pxRem(margin-bottom, 12);
    }

    &-sidebar {
      @include flexbox;
      @include flex-direction(column);
      align-items: center;
      &-image {
        @include pxRem(width, 88);
        @include pxRem(height, 88);
        @include pxRem(margin-bottom, 10);
        @include border-radius(100%);
        object-fit: cover;
      }
    }
  }
}

.write {
  &-inner {
    @include pxRem(padding, 36 100);
  }
}
