.page-error {
  @include flexbox;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  .error {
    @include pxRem(max-width, 600);
    @include flexbox;
    @include flex-direction(column);
    align-items: center;
    width: 100%;
    text-align: center;
    &-image {
      @include pxRem(width, 500);
      @include pxRem(height, 500);
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
    &-desc {
      @include pxRem(font-size, 20);
      @include pxRem(margin-bottom, 40);
      @include pxRem(margin-top, -60);
      line-height: 1.3;
      font-weight: 500;
      color: map-get($color, blue-1);
    }
    &-btn {
      @include pxRem(max-width, 240);
      @include pxRem(padding, 8 0);
      @include pxRem(font-size, 18);
      background-color: map-get($color, blue-1);
      width: 100%;
      text-transform: uppercase;
    }
  }
}